{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "printWidth": 140,
  "tabWidth": 2,
  "jsxBracketSameLine": false
}
